<html>
  <head>
    <title> Grocery List App </title>
    <link href="/style.css" rel="stylesheet">
  </head>
<body>
  <div class="container">
     <h2> What Do We Need at the Store? </h2>
<form action ="/addItem" method="POST">
       <input type="text" name="newItem" placeholder="add new item">        <button> Add Item </button>
    <h2> Added Item </h2>
        <% for( let i = 0; i < groceryItems.length; i++){ %>
    <li><input type="checkbox" name="check" value="<%= groceryItems[i] %>" /> <%= groceryItems[i] %> </li>
    <% } %>
<button formaction="/removeItem" type="submit"> Remove Item </button>
</form>
</div>
</body>
</html>