<html>
  <head>
    <title> Grocery List App </title>
    <link href="/styles.css" rel="stylesheet">
  </head>
<body>
  <div class="container">
     <h2> What Do We Need at the Store? </h2>
<form action ="/additem" method="POST">
       <input type="text" name="newitem" placeholder="add new item">        <button> Add Item </button>
    <h2> Added Item </h2>
<button formaction="/removetask" type="submit"> Remove </button>
</form>
    <h2> Got it! </h2>
</div>
</body>
</html>